@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.home-section,
.events-section,
.competitions-section,
.certificates-section,
.course-section,
.team-section,
.trainers-section,
.contact-section,
.NewCourses-section {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(45deg, #024959, #024959, #012432);
}



.navbar {
    display: flex;
    height: 70px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    transition: background-color 0.3s ease;
    color: brown;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0 20px;
}

.navbar.scrolled {
    background-color: #000000;

}

.nav-links {
    display: flex;
    gap: 10px;

}

.nav-links a {
    color: #0ef;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    padding: 8px 16px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-links a:hover {
    color: white;
}

.nav-links a.active {
    color: white;
    background-color: #0ef;
    border-radius: 10px;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef,
}

.nav-links a.active:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

.nav-logo {
    height: 50px;
    width: 50px;
}

.nav-logo img {
    height: 100%;
    width: 100%;
}

.nav-logo:hover {
    border-radius: 50%;
    border: 2px solid #0ef;
}

/* ------------------------navbar----------------------- */
.home-section {
    width: 100%;
    position: relative;

}

.slides {
    display: flex;
    overflow: hidden;
}

.slide {
    height: 100vh;
    min-width: 100%;
    transition: 0.5s ease;
}

.slide1 {
    background-image: url("Assets/Slide1.jpg");
    background-size: cover;
    position: relative;
    opacity: 0;
    animation: SLideleft 0.1s ease forwards;
    animation-delay: 0s;
}


.slide-text {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.slide-text h1 {
    font-size: 3.6rem;
    color: #0ef;
    font-weight: 700;
    opacity: 0;
    animation: SLideleft 1s ease forwards;
    animation-delay: 0.7s;
    transition: 0.5s ease;
    animation-delay: calc(0.2*var);
}

.slide-span {
    color: #fff;
}

.slide-text :nth-child(2) {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0;
    animation: showText 0.5s 1.5s linear forwards;
}

details summary {
    margin-top: 30px;
    font-size: 1.2rem;
    color: #0ef;
    opacity: 0;
    animation: Slidetop 0.5s ease forwards;
    animation-delay: 2s;

}

.slide2 {
    background-image: url("Assets/Slide2.webp");
    background-size: cover;
    opacity: 0;
    animation: slideRight 0.1s ease forwards;
    animation-delay: 0s;
}

.slide3 {
    background-image: url("Assets/Slide3.webp");
    background-size: cover;
    opacity: 0;
    animation: slideRight 0.1s ease forwards;
    animation-delay: 0s;
}

.slide4 {
    background-image: url("Assets/Slide4.jpg");
    background-size: cover;
    opacity: 0;
    animation: slideRight 0.1s ease forwards;
    animation-delay: 0s;
}

.slide5 {
    background-image: url("Assets/Slide5.avif");
    background-size: cover;
    opacity: 0;
    animation: slideRight 0.1s ease forwards;
    animation-delay: 0s;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: #000000;
}

/* ------------------------Home Section------------------------ */
.NewCourses-section {
    height: 200vh;
    width: 100%;
    overflow: hidden;
}

.course-section .heading {
    width: 100%;
    text-align: center;
    color: #fff;
    margin-top: 2rem;
    text-shadow: 2px 2px 10px #fff;

}

.course-section .heading p {
    color: #0ef;

}

.course-section .heading h1 {
    font-size: 3rem;
}

.course-section .heading h1 .text {
    color: #0ef;
    font-size: 3rem;
}

.course-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    background: linear-gradient(45deg, #024959, #024959, #012432);


}

.text2 {
    color: #0ef;
}

.courses-list {
    display: grid;
    direction: row;
    width: 100%;
    height: 20rem;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 20px;
    row-gap: 20px;
    margin-top: 50px;



}

.courses-list .course {
    height: 10rem;
    width: 18rem;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 0px 10px #0ef, 0px 0px 10px #0ef;
    z-index: 2;
    transition: transform 1s ease forwards;
    border-radius: 10px;


}

.courses-list .course:hover {
    transform: translateY(10px);
}

#html {
    color: #c95d2f;
}

#css {
    color: #147bbc
}

#graphic {
    color: #c32ec9;
}

#cyber {
    color: blue;
}

.courses-list .course .icon {
    font-size: 2.2rem;
    margin: 0 auto;
    margin-top: 5px;
    width: 100%;
    height: 2.2rem;

}

.courses-list .course h3 {
    color: black;
    font-size: 1.1rem;
    font-weight: 700;

}

.courses-list .course p {
    font-size: 0.8rem;
    color: gray;

}

.courses-list .course a {
    color: skyblue;
}

.courses-list .course a:hover {
    color: #000000;

}

.more {
    width: 20rem;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: Slidetop 0.5s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
    align-self: center;
    margin-top: 30px;

}

.more a {
    color: #fff;
}

.more:hover {
    transform: translateY(10px);
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
    color: blue;
}

.NewCourses-list {
    margin-top: 50px;
    background: linear-gradient(45deg, #024959, #024959, #012432);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    height: 100vh;




}

.NewCourses-section .heading {
    width: 100%;
    text-align: center;
    color: #fff;
    margin-top: 30px;

}

.NewCourses .heading p {
    color: #0ef;

}

.NewCourses-section .heading h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 10px #fff;

}

.course-section {
    height: 120vh;
    width: 100%;
    overflow: hidden;
}

.NewCourses-section .heading h1 .text {
    color: #0ef;
    font-size: 3rem;

}

.newCourse {
    width: 20rem;
    height: 25rem;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}


.layer img {
    height: 100%;
    width: 20rem;
    transition: transform 1s ease forwards;

}

.layer img:hover {
    transform: translateY(10px);
    box-shadow: 0px 0px 10px #0ef, 0px 0px 10px #0ef;

}

.course-detail h3 {

    font-size: 1.5rem;
    color: #0ef;
}

.course-detail p {

    font-size: 0.8rem;
    color: #fff;

}

.course-detail {
    margin-top: 10px;
    text-align: center;
}

.course-detail a {
    font-size: 16px;
    color: skyblue;

}

.course-detail a:hover {
    color: white;
}

/* ----------------------Course-Section---------------------- */

.Project-section {
    height: 130vh;
    background: linear-gradient(45deg, #024959, #024959, #012432);



}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;
    gap: 10px;
    margin-top: 50px;
}

.row-2 {
    grid-row: span 2;
}

.col-2 {
    grid-column: span 2;
}

.box {
    background-size: cover;
    background-color: #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: bottom;
    /* background-blend-mode: multiply; */
    transition: all 2s ease-in-out;
    cursor: pointer;
    font-size: 1.3rem;




}

.box:hover {
    background-position: top;
    /* background-blend-mode: hard-light; */
    transform: translateY(10px);
}

.left-text h2 {
    text-align: center;
    color: #0ef;
    padding: 10px;
    font-size: 3.5rem;
    text-shadow: 2px 2px 10px #fff;
}

.left-text p {
    font-size: 2rem;
    text-align: center;
    color: #fff;

}

.text3 {
    color: #0ef;
    text-shadow: 2px 2px 10px #fff;

}

/* -----------------Project-Section-------------------------- */
.team-section {
    height: 115vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.team-section .heading {
    text-align: center;
    margin-top: 50px;
}

.team-section .heading h1 {
    font-size: 3.8rem;
    color: #0ef;
    text-shadow: 2px 2px 10px #fff;
}

.team-section .heading p {
    font-size: 0.8rem;
    color: #fff;
}

.team-section .cards {   
    width: 100%;
    height: 70rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.team-section .card_W,
.team-section .card_M {
    background-size: cover;
    height: 390px;
    width: 310px;
    border: 4px solid blue;
    background-color: #147bbc;
}

.team-section .card_W {
    background-image: url('Assets/mancard.png');
    transition: all 1s ease-in-out normal forwards;
    
}

.team-section .card_M {
    background-image: url('Assets/WomenCard.png');
    transition: all 1s ease-in-out normal forwards;
}

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.card_W:hover {
    transform: translateY(10px);
    box-shadow: 0px 0px 10px #0ef, 0px 0px 10px #0ef;
    transform: scaleY(1.1);

}

.card_M:hover {
    transform: translateY(10px);
    box-shadow: 0px 0px 10px #0ef, 0px 0px 10px #0ef;
    transform: scaleY(1.1);
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 30px;
    transition: all 1s ease-in-out normal forwards;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}
/* ------------------Team-Section------------------------------ */
.events-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(45deg, #024959, #024959, #012432);
}


.events-section .heading {
    text-align: center;
    text-shadow: 2px 2px 10px #fff;
   

}

.events-section .heading h1 {
    font-size: 3.5rem;
    color: #fff;
}

.text4 {
    color: #0ef;
}

/* -------------------------Event-Section--------------- */

.certificates-section {
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.certificates-section .heading {
    margin-top: 50px;
    text-shadow: 2px 2px 10px #fff;
}

.certificates-section .heading h1 {
    font-size: 3.3rem;
    color: #fff;
}

.certificates-section .heading h3 {
    text-align: center;
    font-size: 2rem;
    color: #fff;

}

.certificates-section .card-lists {
    width: 100%;
    overflow: hidden;
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-left: 40px;
    margin-top: 100px;
    background-size: contain;
}

.certificates-section .card {
    width: 410px;
    height: 250px;
    background-color: #fff;
    transition: all 1s ease-in-out;
    cursor: pointer;
    backdrop-filter: blur(10px);
    background-size: cover;
}

.text6 {
    color: #0ef;
}

.certificates-section .card:hover {
    transform: translateY(20px);
    box-shadow: 0px 0px 10px #0ef, 0px 0px 10px #0ef;
    transform: scaleY(1.3);
}

/* ----------------Certficate Section----------------- */
.competitions-section {
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.competitions-section .heading {
    margin-top: 50px;
    text-shadow: 2px 2px 10px #fff;

}

.competitions-section .heading h1 {
    font-size: 3rem;
    color: #0ef;
}

.competitions-section .heading h3 {
    text-align: center;
    font-size: 2rem;
    color: #fff;

}

.competitions-section .card-lists {
    width: 100%;
    overflow: hidden;
    height: 50rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-left: 40px;
    margin-top: 150px;
    background-size: contain;
}

.competitions-section .card {

    width: 410px;
    height: 250px;
    background-color: #fff;
    transition: all 1s ease-in-out;
    cursor: pointer;
    backdrop-filter: blur(10px);
    background-size: cover;


}

.competitions-section .card:hover {
    transform: translateY(20px);
    box-shadow: 0px 0px 10px #0ef, 0px 0px 10px #0ef;
    transform: scaleY(1.3);
}

.more3 {
    width: 15rem;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 1;
    animation: Slidetop 0.5s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
    align-self: center;
    position: relative;

}

.more3:hover {
    transform: translateY(10px);
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
    color: white;
}

/* ----------------Competition Section----------------- */
.contact-section {
    height: 170vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-heading {
    margin-top: 30px;
}

.contact-heading h1 {
    font-size: 3rem;
    color: #0ef;
    text-shadow: 2px 2px 10px #fff;
    text-align: center;

}

.contact-heading p {
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

.form {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20rem;
    margin-top: 50px;
}

form {
    width: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    transition: all 1s ease-in-out;
    cursor: pointer;





}

form:hover {
    transform: translateY(10px);
    box-shadow: 0px 0px 10px #0ef, 0px 0px 10px #0ef;
    transform: scaleY(1.1);

}


form .input {
    border: none;
    background: transparent;
    width: 15rem;
    border-bottom: 2px solid #0ef;
    outline: none;
    caret-color: #0ef;
    font-size: 1rem;
    color: #024959;


}

.input::placeholder {
    padding-right: 5px;
    color: #C93CE0;
}

.home-sci {
    display: flex;
    gap: 20px;
}

.home-sci a {

    width: 35px;
    height: 35px;
    background: #0ef;
    border-radius: 50%;
    font-size: 27px;
    color: #081b29;
    text-decoration: none;
    text-align: center;
}

.home-sci a:hover {
    color: #fff;
    box-shadow: 0 0 20px #0ef;
}

.textarea {
    height: 100%;
    width: 40rem;
}

textarea {
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: all 1s ease-in-out;
    cursor: pointer;
    outline: none;
    color: #081b29;
}

textarea::placeholder {
    color: #C93CE0;
}

textarea:hover {
    transform: translateY(10px);
    box-shadow: 0px 0px 10px #0ef, 0px 0px 10px #0ef;
    transform: scaleY(1.1);

}


.Contact-info {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    align-items: center;
}

.info-1 {
    height: 13rem;
    width: 20rem;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.info-1 h3 {
    text-align: center;
    color: #0ef;
    text-shadow: 2px 2px 10px #fff;
    font-size: 2rem;

}

.info-1 p {
    color: #081b29;

}

.info-2 {
    height: 11rem;
    width: 20rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    transition: all 1s ease-in-out;
    cursor: pointer;
    backdrop-filter: blur(10px);


}

.info-2 h3 {
    text-align: center;
    color: #0ef;
    text-shadow: 2px 2px 10px #fff;
    font-size: 1.8rem;

}

.info-1 p {
    color: #081b29;

}

.info-1:hover {
    transform: translateY(10px);
    box-shadow: 0px 0px 10px #0ef, 0px 0px 10px #0ef;
    transform: scaleY(1.1);

}

.info-2:hover {
    transform: translateY(10px);
    box-shadow: 0px 0px 10px #0ef, 0px 0px 10px #0ef;
    transform: scaleY(1.1);

}

.more2 {
    width: 15rem;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: Slidetop 0.5s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
    align-self: center;
    margin-top: 30px;
    margin-left: 450px;

}

.more2:hover {
    transform: translateY(10px);
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
    color: white;
}


/* --------------------Contact-Section------------------- */
footer {
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    background-color: #000000;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    border-top: 1px solid white;

}

footer .companyName {
    color: #0ef;
}

/* --------------------Fotter-Section------------------- */

.end {
    display: flex;
    gap: 10px;
    color: #0ef;
}

.top i {
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

.top i {
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}


/* ------------------------UP_Arrow------------------------- */

::-webkit-scrollbar {
    width: 15px;

}

::-webkit-scrollbar-track {

    border-radius: 10px;
    background-color: #fff;

}

::-webkit-scrollbar-thumb {
    background-color: #0ef;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #081b29;
}

/* ------------------------Scroll-bar------------------------- */



@keyframes showText {
    to {
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes SLideleft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }



}
@keyframes Slidetop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }



}